* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    
    
}

/* -------------- CABECERA -------------*/
.header {
    height: 120px;
    display: flex;
    flex-direction: column;
   background: white;
}

.ofertas-header {
    text-align: center;
    background: black;
    height: 30px;

}

#ofertas {
    color: white;
}

.navbar {
    display: flex;
    margin-right: 40px;
    margin-left: 40px;
}

.logo {
    height: 60px;
    flex: 1 1 auto;
}
.logo h3{
    font-size:22px;
    margin-top:15px;
   
}

.menu-header {
    flex: 1 1 auto;
}

.iconos {
    color: black;
    flex: 1 1 auto;
}

/*---------------contenedor-section----------*/
.contenedor-section{
    margin-left:100px;
    margin-right: 100px;
    margin-top:120px;
}
/*------banner - login-----*/
.banner-login{
    display: flex;
    justify-content: space-around;
}
.banner{
    flex:2 1 auto;
}
.login-register{
    flex:0 1 auto;
    min-width: 324px;;
    margin-right:20px;  
box-shadow: inset 0px 200px 72px -34px rgba(255,255,255,1);
background:#bfbfbf;

border-radius: 10px;
}

.perfil-content{
    margin-left: 60px;
}
#user_png{
    width: 160px;
    padding:10px;
}
#cerrar_sesion{
margin-left:10px;
}
#menu-perfil{
    list-style:none;
}


/*¨--------------PRODUCTOS-----------*/
.productos {
    display: flex;
    justify-content: space-around;

        box-shadow: inset 0px 200px 72px -34px rgba(255,255,255,1);
        background: #bfbfbf;
        padding: 15px;
        border-radius: 10px;
    
    

}
.all-products{
display: flex;
justify-content: space-around;
flex: 1 1 auto;
}
.categorias-product{
    flex:0 1 auto;
}

.texto-productos {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    background: black;
    width: 180px;
    height: auto;
    border: none;



}

.card .img {
    overflow: hidden;

}

.card .img img {
    height: 160px;
}

.card .titulo h1,
.card .precio h2 {
    font-size: 18px;
}

.card .titulo,
.card .precio {
    padding: 10px;
}

/*--------------------SERVICIOSssssss------*/
.servicios {
    margin-left: 120px;
    margin-right: 120px;
}

.card-servicios {
    display: flex;
    justify-content: space-around;
    letter-spacing: 2px;
}

.pagos,
.envios,
.calidad,
.tienda-fisica {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagos i,
.envios i,
.calidad i,
.tienda-fisica i {
    font-size: 40px;
    margin-bottom: 20px;
}

/*-------MAPAAAAAAA----*/
.mapa {
    display: flex;
    justify-content: space-around;
    background-position: center center;
    margin-top: 50px;

}

.maps-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maps-content iframe {
    height: 200px;
    width: 400px;


}

.maps-content {
    background: #e6e6e6;
    padding: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.social-maps i {
    font-size: 30px;
    letter-spacing: 10px;
}

#olvido_clave {
    margin-left: 60px;
}

#btn-registrar,
#btn-login {
    margin-top: 20px;
}
#btn-registrar{
    width: 100%;
}
#btn-login {
    margin-left: 220px;
}
#btn-loginn{
    width: 100%;
    
}
#btn-loginn a{
color:white;
}

/*_-------------------FOOTERRRRRR-----*/
.footer {
    background: #e6e6e6;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.footer-suscribe,
.footer-menu,
.footer-tienda {
    margin-top: 40px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.derechos-autor {
    display: flex;
    justify-content: space-between;
}

.social-derechos {
    margin-left: 100px;
}

.social-derechos i,
.payment i {
    font-size: 32px;
    letter-spacing: 10px;
}

.payment {
    margin-right: 100px;
}

#paypal {
    color: #207dff;
}

#billete {
    color: #7bc67b;
}
/*-------------CATEGORIa-----------*/
#btn-agg-categoria{
    margin-bottom:10px;
}
.cat-items{
 width: 100%;
}